<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/jersey-page.css') }}">
    <title>Edit Jersey</title>
  </head>
  <body>
    <h1 color="white" align="center ">Inventory Management System</h1>
    <hr color="#99d6ff">
    <h2>Edit Jersey</h2>
    <br>
    <p class="error-msg">{{errors}}</p>
    <p class="text">Please enter the following information:</p>
    <form method="post" action="{{url_for('editJersey')}}">
        <p><input name="Jersey number" type="number" placeholder="Jersey Number"/></p>
        <p><input name="Team name" type="text" placeholder="Team Name" /></p>
        <p><input name="Condition" type="text" placeholder="Condition" /></p>
        <p><input name="Location" type="text" placeholder="Storage Location" /></p>
        <p><input name="Additional comments" type="text" placeholder="Additional Comments" /></p>
        <p><input type="submit" value="Edit Jersey" /></p>
    </form>
    <br>
    <a href="view-inventory" target="_blank"><button class="btn" >View Inventory</button></a>
    <p><a href="/"><button>Return to Home</button></a></p>  
  </body>
</html>
